.container {
    margin: 178px 30px 30px 30px;

}

.mainheading {
    color: #562B93;
    font-family: Acme;
    font-weight: 400;
    font-size: 40px;
    text-decoration-line: underline;
    text-shadow: 5px 5px 12px #B59FD4;


}







.onentry {
    text-align: left;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #B59FD4;
    border-radius: 20px 20px 20px 20px;
    background: white;
    animation: scrollAnimation 500ms linear 1;

}

.title {
    color: #562B93;
    font-family: Acme;
    font-weight: 400;
    font-size: 18px;


}

.desc {
    color: #562B93;
    font-size: 15px;
    font-family: Mulish;
    font-weight: 600;
    line-height: 20px;

}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
        /* Move the content upward by 100% of its height */
    }
}