*{
    box-sizing:border-box;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 15px 30px;
    padding: 30px;
    
    border-radius: 20px;
    border-top: 5px solid #562B93;
    background: rgba(205, 191, 226, 0.54);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logoName {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

.logo {
    display: inline-block;
    margin-right: 40px;
}

.dateName {
    display: inline-block;

}

.mainheading {
    color: #562B93;
    font-family: Acme;
    font-weight: 400;
    font-size: 40px;
    text-decoration-line: underline;
    text-shadow: 5px 5px  15px #B59FD4;


}

.confdate {
    color: #562B93;
    font-family: Acme;
    font-weight: 400;
    font-size: 25px;
}

.conDes {
    color: #562B93;
    font-size: 18px;
    font-family: mulish;
    font-weight: 400;

}