.navlist {

    display: flex;
    
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5F2FA2;
    font-weight: 400;
    position:fixed;
    top:100px;
    width:100%;
    z-index:20;

}


.navitems {
    border: 2px solid transparent;
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: #EFEAF6;
    font-family: inter;
    text-decoration: none;
    margin:3px;

}
.icon{
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
}

.navitems:hover {
    border: 2px solid aliceblue;
    color: aliceblue;
    font-weight: bold;


}
@media(max-width:780px)
{

        .navlist {

            display: flex;
         
            flex-wrap: wrap;
        }
        
    
    .navitems{
        font-size:10px;
    }
}